[tool.poetry]
name = "public-law-spiders"
version = "1.1.0"
description = ""
authors = ["Robb Shecter <robb@public.law>"]

[tool.poetry.dependencies]
python = "=3.10.2"
scrapy = "^2.1"
titlecase = "^0.12.0"
pytz = "^2019.3"
scrapy-crawlera = "^1.7.0"
msgpack-python = "^0.5.6"
toolz = "0.*"
spidermon = {extras = ["monitoring", "validation"], version = "^1.16.2"}

[tool.poetry.dev-dependencies]
mypy = ">= 0.761"
pytest-testdox = "^1.2.1"
black = "^20.8b1"
pytest-watch = "^4.2.0"
pytest = "^6.0.1"
wrapt = "^1.12.1"
prospector = "^1.3.0"
ipython = "^7.18.1"
argh = "^0.26.2"
coverage = "^6.3.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
